.field_with_errors{
  color: red;
}

.zero-margin{
  margin: 0px !important;
}

.init-form{
  background: rgba(105, 116, 117, 0.25);
  padding: 20px;
  border-radius: 10px;
}

#line-style{
  width: 90%;
}

.top-margin{
  margin-top: 20px;
}

.radio-buttons-area{
  margin-left: 40px;
}