%label.radio
  %input#optionsRadios1{ :name => "optionsRadios", :type => "radio", :value => "sp", onChange: "showInput()"}/
  Stock Price
%label.radio
  %input#optionsRadios2{ :name => "optionsRadios", :type => "radio", :value => "et", onChange: "showInput()"}/
  Expiry Time
%label.radio
  %input#optionsRadios3{ :name => "optionsRadios", :type => "radio", :value => "rfr", onChange: "showInput()"}/
  Risk Free Rate
%label.radio
  %input#optionsRadios4{ :name => "optionsRadios", :type => "radio", :value => "v", onChange: "showInput()"}/
  Volatility